/*avatar.css*/
.avatar[data-v-486e508c] { background-color: var(--color-button-bg); border-radius: var(--size-rounded-icon); box-shadow: var(--shadow-inset-lg),var(--shadow-card); height: var(--size); object-fit: contain; width: var(--size); }

.avatar.size-xs[data-v-486e508c] { --size: 2.5rem; }

.avatar.size-sm[data-v-486e508c], .avatar.size-xs[data-v-486e508c] { border-radius: var(--size-rounded-sm); box-shadow: var(--shadow-inset),var(--shadow-card); }

.avatar.size-sm[data-v-486e508c] { --size: 3rem; }

.avatar.size-md[data-v-486e508c] { --size: 6rem; }

.avatar.size-lg[data-v-486e508c], .avatar.size-md[data-v-486e508c] { border-radius: var(--size-rounded-lg); }

.avatar.size-lg[data-v-486e508c] { --size: 9rem; }

.avatar.circle[data-v-486e508c] { border-radius: 50%; }

.avatar.no-shadow[data-v-486e508c] { box-shadow: none; }

.avatar.pixelated[data-v-486e508c] { image-rendering: pixelated; }

/*default.css*/
.footer {
  display: flex;
padding: 0 3rem;
  flex-direction: column;
  background-color: #F5F5F5; 
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #D9D9D9;
}
.footer a {
  color: #263333;
  text-decoration: none;
  transition: 0.3s;
}
.footer a:hover {
  color: #007FFF;
}
.footer ul {
  padding: 0 2rem;
  text-decoration: none;
  color: #333333;
  list-style-type: none;
  margin: 0;
}
.footer li {
  margin: 0 0 0.7rem 0;
}
.footer h4 {
  font-weight: bold;
}
.footer h3 {
  color: #333333;
  line-height: 1.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin: 0 0 0.5rem 0;
}
.footer p {
  color: #333333;
  line-height: 1.6rem;
  margin: 0.5rem 0 0 0;
}

.link-row {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.vm-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.link-column {
  display: flex;
}

.social-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  border-top: 1px solid #D9D9D9;
}
.social-row p {
  color: #333333;
  line-height: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.social-column a {
  text-decoration: none;
  padding: 0 0.5rem;
  color: #333333;
  line-height: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}
.social-column a:hover {
  color: #007FFF;
}

@media (max-width: 768px) {
  nav ul li a {
    font-size: 12px;
  }
  .link-column {
    flex-direction: column;
  }
  .link-column ul {
    padding: 0;
    margin: 1.5rem 0 0 0;
  }

  .link-row {
    flex-direction: column;
    padding: 3rem 2rem;
  }

  .footer {
    padding: 0 2rem;
  }

  .social-row {
    flex-direction: column;
    padding: 2rem 0 4rem 0;
  }

  .copyright-column p {
    line-height: 1.5rem;
  }
}

html { --dark-color-text: #b0bac5; --dark-color-text-dark: #ecf9fb; }

.light-mode { --color-icon: #6b7280; --color-text: #111827; --color-text-secondary: var(--color-icon); --color-text-inactive: #4b5563; --color-text-dark: #1a202c; --color-heading: #2c313d; --color-bg: #e5e7eb; --color-raised-bg: #fff; --color-divider: #e5e7eb; --color-divider-dark: #c8cdd3; --color-text-inverted: var(--color-bg); --color-bg-inverted: var(--color-text); --color-brand-green: #00af5c; --color-brand: var(--color-brand-green); --color-brand-highlight: rgba(0,175,92,.25); --color-brand-shadow: rgba(0,175,92,.7); --color-brand-inverted: #fff; --tab-underline-hovered: #e2e8f0; --color-button-bg: #e5e7eb; --color-button-text: var(--color-text-dark); --color-button-bg-hover: #d9dce0; --color-button-text-hover: #1b1e24; --color-button-bg-active: #c3c6cb; --color-button-text-active: var(--color-button-text-hover); --color-toggle-handle: var(--color-icon); --color-dropdown-bg: var(--color-button-bg); --color-dropdown-text: var(--color-button-text); --color-tooltip-bg: var(--color-text); --color-tooltip-text: var(--color-bg); --color-code-bg: var(--color-bg); --color-code-text: var(--color-text-dark); --color-kbd-shadow: rgba(0,0,0,.25); --color-ad: #d6e6f9; --color-ad-raised: #b1c8e4; --color-grey-link: var(--color-text); --color-grey-link-hover: var(--color-heading); --color-grey-link-active: var(--color-text-dark); --color-link: #0d60bb; --color-link-hover: #1a76e7; --color-link-active: #146fd7; --color-special-red: #cb2245; --color-special-orange: #e08325; --color-special-green: var(--color-brand-green); --color-special-blue: #1f68c0; --color-special-purple: #8e32f3; --color-special-gray: #595b61; --color-warning-bg: #f6cbcf; --color-warning-text: #981b40; --color-warning-banner-text: #2d2424; --color-warning-banner-bg: #ffe6e6; --color-warning-banner-side: #b6161e; --color-info-banner-text: var(--color-text); --color-info-banner-bg: var(--color-ad); --color-info-banner-side: var(--color-special-blue); --color-block-quote: var(--color-tooltip-bg); --color-header-underline: var(--color-divider-dark); --color-hr: var(--color-text); --color-table-border: #dfe2e5; --color-table-alternate-row: #f2f4f7; --shadow-inset-lg: inset 0px -2px 2px rgba(17,24,39,.1); --shadow-inset: inset 0px -2px 2px rgba(17,24,39,.05); --shadow-inset-sm: inset 0px -1px 2px rgba(17,24,39,.15); --shadow-raised-lg: 0px 2px 4px rgba(17,24,39,.2); --shadow-raised: .3px .5px .6px hsl(var(--shadow-color)/.15),1px 2px 2.2px -1.7px hsl(var(--shadow-color)/.12),4.4px 8.8px 9.7px -3.4px hsl(var(--shadow-color)/.09); --shadow-floating: transparent 0px 0px 0px 0px,transparent 0px 0px 0px 0px,rgba(0,0,0,.1) 0px 4px 6px -1px,rgba(0,0,0,.1) 0px 2px 4px -1px; --shadow-card: rgba(50,50,100,.1) 0px 2px 4px 0px; --landing-maze-bg: url(https://cdn.modrinth.com/landing-new/landing-light.webp); --landing-maze-gradient-bg: url(https://cdn.modrinth.com/landing-new/landing-lower-light.webp); --landing-maze-outer-bg: linear-gradient(180deg,#f0f0f0,#fff); --landing-color-heading: #000; --landing-color-subheading: #3a3f45; --landing-transition-gradient-start: hsla(0,0%,100%,0); --landing-transition-gradient-end: #fff; --landing-hover-card-gradient: radial-gradient(50% 50% at 50% 50%,#fff 0%,hsla(0,0%,80%,.77) 100%); --landing-border-gradient: linear-gradient(to bottom right,rgba(129,137,175,.75),rgba(66,71,97,.34)); --landing-border-color: rgba(129,137,175,.55); --landing-creator-gradient: linear-gradient(180deg,#f8f8f8,#f8f8f8 63.19%); --landing-blob-gradient: radial-gradient(50% 50% at 50% 50%,hsla(0,0%,100%,.35) 0%,hsla(0,0%,100%,.27) 100%); --landing-blob-shadow: 2px 2px 12px rgba(0,0,0,.16),inset 2px 2px 64px hsla(0,0%,100%,.45); --landing-card-bg: hsla(0,0%,100%,.8); --landing-card-shadow: 2px 2px 12px rgba(0,0,0,.16); --landing-blue-label: #0098ba; --landing-blue-label-bg: rgba(0,177,216,.15); --landing-green-label: #00a936; --landing-green-label-bg: rgba(0,216,69,.15); --landing-raw-bg: #fff; }

.dark-mode, .oled-mode, html { --color-icon: #96a2b0; --color-text: var(--dark-color-text); --color-text-inactive: #929aa3; --color-text-dark: var(--dark-color-text-dark); --color-heading: #c4cfdd; --color-bg: #16181c; --color-raised-bg: #26292f; --color-divider: #474b54; --color-divider-dark: #646c75; --color-text-inverted: var(--color-bg); --color-bg-inverted: var(--color-text); --color-special-red: #ff496e; --color-special-orange: #ffa347; --color-special-green: var(--color-brand-green); --color-special-blue: #4f9cff; --color-special-purple: #c78aff; --color-special-gray: #9fa4b3; --color-brand-green: #1bd96a; --color-brand: var(--color-brand-green); --color-brand-highlight: rgba(27,217,106,.25); --color-brand-shadow: rgba(27,217,106,.7); --color-brand-inverted: #000; --tab-underline-hovered: #414146; --color-button-bg: #434956; --color-button-text: var(--color-text); --color-button-bg-hover: #494f58; --color-button-text-hover: #fff; --color-button-bg-active: #616570; --color-button-text-active: var(--color-button-text-hover); --color-toggle-handle: var(--color-button-text); --color-dropdown-bg: var(--color-button-bg); --color-dropdown-text: var(--color-button-text); --color-tooltip-bg: var(--color-button-bg); --color-tooltip-text: var(--color-text); --color-code-bg: var(--color-button-bg); --color-code-text: var(--color-text-dark); --color-kbd-shadow: rgba(0,0,0,.35); --color-ad: #1f324a; --color-ad-raised: #2e4057; --color-link: #74b6f3; --color-link-hover: #92c0f5; --color-link-active: #b5d5fd; --color-warning-bg: #570f15; --color-warning-text: #ec93ad; --color-warning-banner-text: #ffebeb; --color-warning-banner-bg: #362627; --color-warning-banner-side: #b6161e; --color-info-banner-text: var(--color-text); --color-info-banner-bg: var(--color-ad); --color-info-banner-side: var(--color-special-blue); --color-block-quote: var(--color-code-bg); --color-header-underline: var(--color-divider-dark); --color-hr: var(--color-text); --color-table-border: #4f5864; --color-table-alternate-row: #202228; --shadow-inset-lg: inset 0px -2px 2px rgba(17,24,39,.1); --shadow-inset: inset 0px -2px 2px rgba(17,24,39,.05); --shadow-inset-sm: inset 0px -1px 1px rgba(17,24,39,.25); --shadow-raised-lg: 0px 2px 4px rgba(17,24,39,.2); --shadow-raised: 0px -2px 4px rgba(17,24,39,.1); --shadow-floating: transparent 0px 0px 0px 0px,transparent 0px 0px 0px 0px,rgba(0,0,0,.1) 0px 4px 6px -1px,rgba(0,0,0,.06) 0px 2px 4px -1px; --shadow-card: rgba(0,0,0,.25) 0px 2px 4px 0px; --landing-maze-bg: url(https://cdn.modrinth.com/landing-new/landing.webp); --landing-maze-gradient-bg: linear-gradient(0deg,#31375f,rgba(8,14,55,0)),url(https://cdn.modrinth.com/landing-new/landing-lower.webp); --landing-maze-outer-bg: linear-gradient(180deg,#06060d,#000); --landing-color-heading: #fff; --landing-color-subheading: #afb6be; --landing-transition-gradient-start: rgba(14,16,32,0); --landing-transition-gradient-end: #060a1c; --landing-hover-card-gradient: radial-gradient(50% 50% at 50% 50%,#2c304f 0%,rgba(32,35,50,.77) 100%); --landing-border-gradient: linear-gradient(to bottom right,rgba(168,177,221,.75),rgba(168,177,221,.18)); --landing-border-color: rgba(168,177,221,.55); --landing-creator-gradient: linear-gradient(180deg,#000,#0e101d); --landing-blob-gradient: radial-gradient(50% 50% at 50% 50%,rgba(44,48,79,.35) 0%,rgba(32,35,50,.27) 100%); --landing-blob-shadow: 2px 2px 12px rgba(0,0,0,.16),inset 2px 2px 64px rgba(57,61,94,.45); --landing-card-bg: rgba(59,63,85,.15); --landing-card-shadow: 2px 2px 12px rgba(0,0,0,.16); --landing-blue-label: #10c0e7; --landing-blue-label-bg: rgba(0,177,216,.15); --landing-green-label: #00d845; --landing-green-label-bg: rgba(0,216,69,.15); --landing-raw-bg: #000; }

.oled-mode { --color-bg: #000; --color-raised-bg: #101013; --color-button-bg: #222329; --color-button-bg-hover: #2d2d32; --color-button-bg-active: #3c3c40; --color-table-alternate-row: #19191c; }

body { --font-standard: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Roboto,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; --mono-font: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace; --size-rounded-xs: .5rem; --size-rounded-sm: .75rem; --size-rounded-md: 1rem; --size-rounded-lg: 1.25rem; --size-rounded-max: 999999999px; --size-rounded-card: 1rem; --size-rounded-icon: 1rem; --size-rounded-control: .25rem; --size-rounded-tooltip: .25rem; --size-navbar-height: 3.5rem; --size-mobile-navbar-height: 3.5rem; --size-mobile-navbar-height-expanded: 13.75rem; --spacing-card-lg: 1.5rem; --spacing-card-bg: 1rem; --spacing-card-md: .75rem; --spacing-card-sm: .5rem; --spacing-card-xs: .25rem; --font-size-xxs: .625rem; --font-size-xs: .75rem; --font-size-sm: .875rem; --font-size-nm: 1rem; --font-size-md: 1.125rem; --font-size-lg: 1.25rem; --font-size-xl: 1.5rem; --font-size-2xl: 2rem; --font-size-3xl: 3rem; --font-weight-regular: 400; --font-weight-medium: 500; --font-weight-bold: 700; --font-weight-extrabold: 800; --font-weight-text: var(--font-weight-medium); --font-weight-heading: var(--font-weight-extrabold); --font-weight-title: var(--font-weight-extrabold); background-color: var(--color-bg); color: var(--color-text); font-family: var(--font-standard); font-size: 16px; font-weight: var(--font-weight-regular); padding: 0px; }

@media screen and (min-width: 320px) {
  body { --size-mobile-navbar-height-expanded: 11.5rem; }
}

@media screen and (min-width: 432px) {
  body { --size-mobile-navbar-height-expanded: 9.25rem; }
}

@media screen and (min-width: 765px) {
  body { --size-mobile-navbar-height-expanded: 7rem; }
}

svg { height: 1em; width: 1em; }

a { color: inherit; text-decoration: none; }

h1, h2 { color: var(--color-text-dark); }

h2 { margin-bottom: 1rem; margin-top: 0px; }

h3 { color: var(--color-text-dark); margin-block: var(--spacing-card-md) var(--spacing-card-sm); }

.columns { display: flex; }

.columns .column-grow-1 { flex-grow: 1; }

.columns .column-grow-2 { flex-grow: 2; }

.columns .column-grow-3 { flex-grow: 3; }

.columns .column-grow-4 { flex-grow: 4; }

.columns .column-grow-5 { flex-grow: 5; }

.rows { display: flex; flex-direction: column; }

.rows .row-grow-1 { flex-grow: 1; }

.rows .row-grow-2 { flex-grow: 2; }

.rows .row-grow-3 { flex-grow: 3; }

.rows .row-grow-4 { flex-grow: 4; }

.normal-page { display: grid; grid-template: "sidebar" auto "content" auto "info" auto / 100%; padding: 0px 0.75rem; }

@media screen and (max-width: 1024px) {
  .normal-page { margin-top: var(--spacing-card-md); }
}

.normal-page .normal-page__sidebar { grid-area: sidebar / sidebar / sidebar / sidebar; }

.normal-page .normal-page__info { grid-area: info / info / info / info; }

.normal-page .normal-page__content { grid-area: content / content / content / content; }

.site-header { margin: 0px 0.75rem; }

@media (min-width: 1024px) {
  .normal-page { column-gap: 0.75rem; grid-template: "sidebar content" auto "info content" auto "dummy content" 1fr / 20rem 1fr; margin: 0px auto; max-width: 80rem; }
  .normal-page.alt-layout { grid-template: "content sidebar" auto "content info" auto "content dummy" 1fr / 1fr 20rem; }
  .normal-page__sidebar { min-width: 20rem; width: 20rem; }
  .normal-page__content { max-width: 59.25rem; }
}

body { overflow: hidden scroll; }

.text-container p { line-height: 1.3; }

.grid-display { grid-gap: var(--spacing-card-md); display: grid; grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); }

.grid-display .grid-display__item { background-color: var(--color-bg); border-radius: var(--size-rounded-card); display: flex; flex-direction: column; flex-grow: 1; gap: var(--spacing-card-md); justify-content: flex-start; padding: var(--spacing-card-lg); }

.grid-display .grid-display__item .label { color: var(--color-heading); font-size: 1rem; font-weight: 700; }

.grid-display .grid-display__item .value { color: var(--color-text-dark); font-size: 2rem; font-weight: 700; }

.grid-display .grid-display__item .goto-link { margin-top: auto; }

.grid-display.width-12 { grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr)); }

.grid-display.width-16 { grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)); }

.base-card, .navigation-card, .universal-card { background-color: var(--color-raised-bg); border-radius: var(--size-rounded-card); box-shadow: var(--shadow-card); margin-bottom: var(--spacing-card-md); min-height: var(--font-size-2xl); outline: transparent solid 2px; position: relative; }

.base-card .card__overlay, .navigation-card .card__overlay, .universal-card .card__overlay { gap: 0.5rem; align-items: flex-end; display: flex; flex-direction: column; position: absolute; right: 1rem; top: 1rem; z-index: 2; }

.base-card:where(.base-card.warning, .warning.navigation-card, .warning.universal-card, .base-card.information, .information.navigation-card, .information.universal-card), .navigation-card:where(.base-card.warning, .warning.navigation-card, .warning.universal-card, .base-card.information, .information.navigation-card, .information.universal-card), .universal-card:where(.base-card.warning, .warning.navigation-card, .warning.universal-card, .base-card.information, .information.navigation-card, .information.universal-card) { line-height: 1.5; min-height: 0px; padding: 1.5rem; }

.base-card:where(.base-card.warning, .warning.navigation-card, .warning.universal-card, .base-card.information, .information.navigation-card, .information.universal-card) a, .navigation-card:where(.base-card.warning, .warning.navigation-card, .warning.universal-card, .base-card.information, .information.navigation-card, .information.universal-card) a, .universal-card:where(.base-card.warning, .warning.navigation-card, .warning.universal-card, .base-card.information, .information.navigation-card, .information.universal-card) a { color: var(--color-link-active); text-decoration: underline; }

.base-card.warning, .warning.navigation-card, .warning.universal-card { background-color: var(--color-warning-banner-bg); border-left: .5rem solid var(--color-warning-banner-side); color: var(--color-warning-banner-text); }

.base-card.information, .information.navigation-card, .information.universal-card { background-color: var(--color-info-banner-bg); border-left: .5rem solid var(--color-info-banner-side); color: var(--color-info-banner-text); }

.base-card.moderation-card, .moderation-card.navigation-card, .moderation-card.universal-card { background-color: var(--color-warning-banner-bg); }

.text-link { color: var(--color-link); text-decoration: underline; }

.text-link:focus-visible, .text-link:hover { color: var(--color-link-hover); cursor: pointer; }

.text-link:active { color: var(--color-link-active); }

.title-link { text-decoration: underline; }

.title-link:focus-visible, .title-link:hover { color: var(--color-heading); }

.title-link:active { color: var(--color-text-dark); }

.card { background: var(--color-raised-bg); border-radius: var(--size-rounded-card); box-shadow: var(--shadow-card); margin-bottom: 3rem; margin-top:3rem; min-height: var(--font-size-2xl); outline: transparent solid 2px; padding: var(--spacing-card-md) var(--spacing-card-lg); position: relative; }

.card .card__overlay { gap: 0.5rem; align-items: flex-end; display: flex; flex-direction: column; position: absolute; right: 1rem; top: 1rem; z-index: 2; }

.card:where(.card.warning, .card.information) { line-height: 1.5; min-height: 0px; padding: 1.5rem; }

.card:where(.card.warning, .card.information) a { color: var(--color-link-active); text-decoration: underline; }

.card.warning { background-color: var(--color-warning-banner-bg); border-left: .5rem solid var(--color-warning-banner-side); color: var(--color-warning-banner-text); }

.card.information { background-color: var(--color-info-banner-bg); border-left: .5rem solid var(--color-info-banner-side); color: var(--color-info-banner-text); }

.card-divider { background-color: var(--color-divider); border: none; color: var(--color-divider); height: 1px; margin: var(--spacing-card-bg) 0; }

.router-link-exact-active .beta-badge, h1 .beta-badge, h2 .beta-badge, h3 .beta-badge { background-color: var(--color-button-text-active); border-color: transparent; box-sizing: border-box; color: var(--color-raised-bg); }

@media (prefers-reduced-motion) {
  .button-animation, .button-base, .header-button, .iconified-button, .square-button, .stylized-toggle, :not(tr).button-transparent, button, tr.button-transparent { transform: none !important; }
}

.project-list { gap: var(--spacing-card-md); overflow: hidden; width: 100%; }

.project-list:not(:first-child) { margin-top: var(--spacing-card-md); }

.project-list:not(:empty) { margin-bottom: var(--spacing-card-md); }

.project-list.display-mode--list { display: flex; flex-direction: column; }

.project-list.display-mode--gallery { display: grid; grid-template-columns: repeat(2, minmax(0px, 1fr)); }

@media screen and (max-width: 750px) {
  .project-list.display-mode--gallery { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
}

.project-list.display-mode--grid { display: grid; grid-template-columns: repeat(3, minmax(0px, 1fr)); }

@media screen and (max-width: 80rem) {
  .project-list.display-mode--grid { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}

@media screen and (max-width: 1024px) {
  .project-list.display-mode--grid { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
}

@media screen and (max-width: 860px) {
  .project-list.display-mode--grid { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}

@media screen and (max-width: 550px) {
  .project-list.display-mode--grid { display: flex; flex-direction: column; }
}

.wrap-as-needed { hyphens: auto; overflow-wrap: break-word; word-break: break-word; }

.sr-only { height: 0px; overflow: hidden; position: absolute; width: 0px; }

html { text-size-adjust: 100%; line-height: 1.15; }

body { margin: 0px; }

main { display: block; }

h1 { font-size: 2em; margin: 0.67em 0px; }

hr { box-sizing: content-box; height: 0px; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }

button, input { overflow: visible; }

button, select { text-transform: none; }

[type="button"], [type="reset"], [type="submit"], button { appearance: button; }

fieldset { padding: 0.35em 0.75em 0.625em; }

details { display: block; }

summary { display: list-item; }

[hidden], template { display: none; }

@font-face { font-display: swap; font-family: inter; font-style: normal; font-weight: 400; src: url("https://cdn-raw.modrinth.com/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"), url("https://cdn-raw.modrinth.com/fonts/inter/Inter-Regular.woff?v=3.19") format("woff"); }

@font-face { font-display: swap; font-family: inter; font-style: normal; font-weight: 500; src: url("https://cdn-raw.modrinth.com/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("https://cdn-raw.modrinth.com/fonts/inter/Inter-Medium.woff?v=3.19") format("woff"); }

@font-face { font-display: swap; font-family: inter; font-style: normal; font-weight: 600; src: url("https://cdn-raw.modrinth.com/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("https://cdn-raw.modrinth.com/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff"); }

@font-face { font-display: swap; font-family: inter; font-style: normal; font-weight: 700; src: url("https://cdn-raw.modrinth.com/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"), url("https://cdn-raw.modrinth.com/fonts/inter/Inter-Bold.woff?v=3.19") format("woff"); }

@font-face { font-display: swap; font-family: inter; font-style: normal; font-weight: 800; src: url("https://cdn-raw.modrinth.com/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"), url("https://cdn-raw.modrinth.com/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff"); }

[tabindex="0"]:focus-visible, a:focus-visible, button:focus-visible { border-radius: 0.25rem; outline: rgb(234, 128, 255) solid 0.25rem; }

.layout { background-color: var(--color-bg); display: block; min-height: 100vh; }

@media screen and (min-width: 1024px) {
  .layout { min-height: calc(100vh - var(--spacing-card-bg)); }
}

@media screen and (max-width: 750px) {
  .layout { margin-bottom: calc(var(--size-mobile-navbar-height) + 2rem); }
}

.layout .site-header { max-width: 100vw; }

@media screen and (min-width: 1024px) {
  .layout .site-header { margin-bottom: var(--spacing-card-md); margin-top: var(--spacing-card-md); }
}

@media screen and (min-width: 1280px) {
  .layout .site-header { border-radius: var(--size-rounded-sm); margin-left: auto; margin-right: auto; max-width: 1280px; }
}

@media screen and (min-width: 1024px) {
  .layout footer { display: grid; grid-template: "logo-info links-1 links-2 links-3 buttons" auto "notice notice notice notice notice" auto; margin-inline: auto; text-align: unset; }
  .layout footer .links, .layout footer .logo-info { margin-right: 4rem; }
  .layout footer .buttons { margin-left: 0px; width: unset; }
  .layout footer .buttons a, .layout footer .buttons button { margin-right: unset; }
  .layout footer .not-affiliated-notice { margin-top: 0px; }
}

@media (min-width: 1024px) {
  .layout main .alpha-alert { margin: 1rem; }
  .layout main .alpha-alert .wrapper { padding: 1rem 2rem 1rem 1rem; }
}

@keyframes spinning { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(2turn); }
}
.advertisement div img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
